body{
    background: silver;
    color: #000305;
    font-size: 87.5%; /*Best font size is 14px*/
    font-family: Arial, 'lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #cf5c3f;
}
a:hover, a:active{
    background-color: #cf5c3f;
    color: #fff;
}
.body{
    margin:  0 auto;
    width: 85%;
    clear: both;

}
.mainheader img{
    width: 30%;
    height: auto;
    margin: 2% 0;
}
.mainheader nav{
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainheader nav ul{
    list-style: none;
    margin: 0 auto;
}
.mainheader nav ul li{
    float: left;
    display: inline;
}


.mainheader nav a:link, .mainheader nav a:visited{
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited
{
    background-color: orange;
    text-shadow: none;
}
.mainheader nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
.mainContent{
    line-height: 25px;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content{
    width: 70%;
    float: left;
}
.topcontent{
  background: #1D4350; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1D4350 , #A43931); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1D4350 , #A43931); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2px;
}
.topcontent h2{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

h2{
    color: red;
}
td{
    color: green;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.input{
    width: 300px;
    margin:0 auto;
    border-radius: 5px;
    text-align: center;
    font-family: britannic bold;
    font-weight: bold;
    color: green;
    font-weight: bold;
    height: 30px;
    border-color: green;
}
#login_form{
    float: right;
}
.input_login{
    margin-top: 0%;
    border-radius: 7px;
    width: 200px;
    height: 32px;
}
table{
    background-color: rgb(127,131,125);
    border-radius: 10px;

}
table tr td{
    border: 0px;
    width: 240px;
}
option{
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.post-info{
    font-style: italic;
    color: #999;
    font-size: 90%;
    text-align: center;
}
.top-sidebar{
    width: 21%;
    float: left;
    background-color: #fff;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}
.top-sidebar article p{
    text-align: center;
    color: blue;
    font-size: 150px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.mainfooter{
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    margin-top: 2% 0;
}
button{
    height: 50px;
    text-align: center;
    width: 680px;
    border-radius: 10px;
    margin-top: 10px;
    color: blue;
    font-size: 22px;
    font-weight: bold;
    background-color: rgb(151,164,32);
}
button:hover{
    background-color: rgb(57,144,14);
}
.subfooter{
       width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #412280;
    opacity: 0.5;
    margin: 0 auto;
    text-align: center;
}
.subfooter li{
   list-style: none;
   display: inline-block;


}
.mainfooter p{
    width: 92%;
    margin: 10px auto;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

@media only screen and (min-width:150px) and (max-width:680px){
    .body{
    width: 90%;
    font-size: 95%

}
.mainheader img{
    width: 100%;
}
.mainheader nav{
    height: 160px;
}
.mainheader nav ul{
padding-left: 0;
}
.mainheader nav ul li{
 width: 100%;
 text-align: center;
}
.mainheader nav a:link, .mainheader nav a:visited{
    padding: 10px 25px;
    height: 20px;
    display: block;
}

.content{
    width: 100%;
    float: left;
    margin-top: 2%;
}
.topcontent{
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}
table{
    width: 90%;
}
button{
    width: 93%;
}
.input{
    width: 92%;
}
.top-sidebar{
    width: 94%;
    margin: 0 0 2% 0%;
    padding: 2% 3%;
}
.top-sidebar article p{
    width: 80%;
}
}
@media only screen and (min-width:680px){
    table{
        width: 70%;
    }
button{
    width: 93%;
}

.topcontent{
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.top-sidebar article p{
    width: 80%;
}
.input{
    width: 92%;
}
}
@media only screen and (max-width:980px){
  .label{
    display: none;
  }
}
